
body {
	background-image: url(../images/palmleaves.png);
	background-position: top;
	background-repeat: repeat;
}
* {
	box-sizing: border-box;
}
.wrapper {
	text-align: center;
	max-width: 1000px;
	background: #FFF;
	margin: 0 auto;
	border-right: 4px solid #000;
	border-left: 4px solid #000;
}
.banner h1 {
	padding: 2%;
	font-size: 80px;
	text-align: center;
	background-color: #FFF;
}
.main {
	width: 67%;
	padding: 2%;
	display: inline-block;
}
.description {
	font-style: italic;
}
.primary-menu {
	background-color: #FFF;
}
.primary-menu ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	background color: #FFF;
}
.primary-menu li {
	display: inline;
}
.primary-menu a {
	text-decoration: none;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: 'black';
	font-weight: bold;
	background-color: #FFF;
	display: inline-block;
	margin-right: -.25em;
	padding: 0.2em 0.6em;
	text-align: center;
}
.primary-menu a:hover {
	background-color: #9bd28a;
}
.table {
	border-collapse: collapse;
}
.table th {
	background-color: #cae7c1;
}
.table td {
	text-align: center;
	background-color: #cae7c1;
}
.table th, .table td {
	border: 2px solid #9bd28a;
	padding: 6px;
}