
body {
	background-color: #cae7c1
	background-position: top;
	background-repeat: repeat;
}
* {box-sizing: border-box;
}
.wrapper {
	max-width: 1200px;
	background: 'white';
	margin: 0 auto;
	border-right: 2px solid 'black';
	border-left: 2px solid 'black';
}
.banner h1 {
	padding: .4%;
	font-size: 80px;
	text-align: center;
}
.main {
	width: 67%;
	padding: 2%;
	border-right: 2px solid 'black';
	border-left: 2px solid 'black';
}
.description {
	font-style: italic;
}